/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "plain regular";
    src: url(./plain-regular-webfont.woff2);
}

@font-face {
    font-family: "silk serif";
    src: url(./silkserif-regularitalic-webfont.woff2);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "plain regular";

}

html,
body {
    color: white;
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #0b0b0b;
    color: white;
    padding: 20vh 9vw;
    /* display: none; */
}

.line {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 2vw;
}

.line h1 {
    font-family: "silk serif";
    font-size: 6vw;
    font-weight: 500;
    /* line-height: 6.9vw; */
    text-transform: uppercase;
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line h2 {
    font-size: 6vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "silk serif";
    color: beige;
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.number1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2vw;
}

.number1 h5,
.number1 h6 {
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 200;
}

.number1 h5 {
    text-align: right;
    width: 3.5vw;
}

.cursor {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
    pointer-events: none;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    mix-blend-mode: difference;
    font-size: 4px;
    color: black;
}

#menu {
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    z-index: 999;
    width: 100%;
    padding-right: 4vw;
    background-color: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: -100%;
}

.icross {
    font-size: 4vw;
    position: absolute;
    top: 2%;
    right: 5%;
}

#menu h2 {
    font-size: 4vw;
    /* padding: 1vw 0; */
    font-family: "silk serif";
}

.anima {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
}

.menu h2 {
    font-family: pp woodland;
    padding: 2vw 2vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 4vw;
}

#main {
    background-color: black;
    /* background: #000000; 
    background: -webkit-linear-gradient(to left, #888, #000000);  
    background: linear-gradient(to left, #223333, #000000);  */
    position: relative;
    width: 100%;

}


#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}


.nav {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3vw;

}

.nav h3 {
    text-transform: capitalize;
    font-weight: 300;

}

.page1animate {
    overflow: hidden;
}

.heading {
    /* opacity: 0.8; */
    /* color: white; */
    margin-top: 4vw;
    padding-left: 4vw;
    line-height: 9vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.heading h1 {
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.heading2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* color: white; */
    /* opacity: 0.8; */

}

.heading2 h1 {
    font-size: 10vw;
    text-transform: uppercase;
    margin-left: 14vw;
    color: white;
    /* opacity: 0.8; */
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading2 h6 {
    /* line-height: 1px; */
    text-align: end;
    color: white;
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

.midsection {
    margin-top: 10vw;
    padding: 0vw 3vw;

}

.midheading h3 {
    color: white;
    font-size: 1.05vw;
    text-align: end;

}

.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    color: black;

}

.icon h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;

}

.icon i {
    gap: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 800;

}

.bottom {
    padding: 0vw 2vw;
    position: absolute;
    width: 100%;
    bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom h3 {
    font-size: 1vw;
    font-weight: 300;
    color: white;
}

.a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 0.6px;
    width: 0%;
    left: 0;
    bottom: -8px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.a:hover::after {
    width: 100%;
}

.a {
    position: relative;
    cursor: pointer;
}

#page2 {
    color: #fff;
    padding-right: 10vw;
    padding-top: 80px;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}


.elem {
    border-top: 1px solid #888;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2vw 3vw;
    width: 100%;
}


.elem h1 {
    font-size: 6vw;
    opacity: 1;
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.elem img {
    position: absolute;
    z-index: 999;
    pointer-events: none !important;
    height: 150%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

#page3 {
    width: 100%;
    height: 110vh;
    position: relative;
    /* padding-right:3vw; */


}

.slidergsap {
    white-space: nowrap;
    /* overflow-x: auto; */
}

.slidergsap h1 {
    font-size: 5.3vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 100;
    text-transform: uppercase;
    color: transparent;
    margin-right: 16px;
    display: inline-block;
    -webkit-animation: slider 10s linear infinite;
    animation: slider 10s linear infinite;
}

@-webkit-keyframes slider {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(calc(-100% - 20px));
        transform: translateX(calc(-100% - 20px));
    }

}

@keyframes slider {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(calc(-100% - 20px));
        transform: translateX(calc(-100% - 20px));
    }

}

.part1 img {
    height: 25vw;
    width: 25w;
}

.part2 h5 {
    font-size: 1.3vw;
    font-weight: 300;
    color: white;
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.part2 h4 {
    font-size: 1vw;
    text-transform: uppercase;
    padding-bottom: 1vw;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 4vw;
    margin-top: 100px;
    width: 80%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding-left: 17vw;
    /* align-items: center; */
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5vw;
    position: absolute;
    bottom: 2.2%;
    width: 100%;
}

.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
}

.footer h4 {
    font-size: 1vw;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}


@media (max-width : 500px) {

    #loader {
        display: none;
    }

    .cursor {
        display: none;
    }

    .nav {
        height: 12vw;

    }

    .nav h3 {
        font-size: 3.5vw;
        color: #fff;
        opacity: 0.8;
        font-weight: 300;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .icross {
        font-size: 8vw;
        position: absolute;
        top: 2%;
        right: 5%;
    }

    #menu h2 {
        font-size: 14vw;
        /* padding: 1vw 0; */
        font-family: "silk serif";
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #page1 {
        width: 100%;
        position: relative;
        height: 100vh;
    }

    .heading h1 {
        font-size: 16vw;
        text-transform: uppercase;
        font-weight: 300;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .heading {
        opacity: 0.6;
        color: white;
        margin-top: 12vw;
        padding-left: 4vw;
        line-height: 14.7vw;

    }

    .heading2 h1 {
        font-size: 16.5vw;
        margin-left: 14vw;
        font-weight: 300;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .heading2 h6 {
        font-size: 2.9vw;
        font-weight: 300;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .midsection {
        margin-top: 25vw;
        padding: 0vw 7vw;

    }

    .midheading h3 {
        font-size: 3vw;
        font-weight: 300;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bottom {
        bottom: 13.2%;
        position: absolute;
    }

    .bottom .icon {
        display: none;
    }

    .bottom h3 {
        font-size: 3vw;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    #page2 {
        /* height: fit-content; */
        height: 80vh;
        /* background-color: blue; */
        /* margin-top: 12vw; */

    }


    .elem {
        padding: 6vw 3vw;
        width: 100%;
    }


    .elem h1 {
        font-size: 14vw;
        opacity: 1;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #page3 {
        width: 100%;
        /* height: fit-content; */
        /* margin-top: 12vw; */
    }

    .slidergsap {
        white-space: nowrap;
        /* overflow-x: auto; */
    }

    .slidergsap h1 {
        font-size: 5.3vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        text-transform: uppercase;
        color: transparent;
        margin-right: 16px;
        display: inline-block;
        -webkit-animation: slider 10s linear infinite;
        animation: slider 10s linear infinite;

    }

    .part1 img {
        height: 80%;
        width: 80%;
        object-fit: cover;
    }

    .part2 {
        width: 100%;
    }

    .part2 h5 {
        font-size: 3.9vw;
        font-weight: 100;
        color: white;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .part2 h4 {
        font-size: 3vw;
        font-weight: 100;
        opacity: 0.7;
        text-transform: uppercase;
        padding-bottom: 2vw;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* flex-wrap: wrap; */
        gap: 4vw;
        margin-top: 18vw;
        width: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: start;
        padding: 4vw 5vw;
        flex-direction: column;

        align-items: start;
    }


    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 5vw;
        position: absolute;
        bottom: 2.2%;
        width: 100%;
    }

    .right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid #888;
        padding-top: 2vw;
    }

    .right a {
        font-size: 3.5vw;
        font-weight: 300;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .left {
        display: none;
    }

    #main {
        overflow: hidden;
    }


}